.sidebar {
	position: fixed;
	width: 320px;
	height: 100vh;
	box-sizing: border-box;
	box-shadow: $SH_MEDIUM;
	header {
		height: 8rem;
		text-align: center;
		line-height: 8rem;
		padding-bottom: .8rem;
	}
	.sidebar-nav {
		padding: 0;
		&-element {
			position: relative;
			height: 6.4rem;
			width: 100%;
			padding: .8rem 1.6rem;
			margin-bottom: .8rem;
			display: flex;
			align-content: center;
			box-sizing: border-box;
			.icon {
				width: auto;
				height: 100%;
				min-width: 4.8rem;
				svg {
					path {
						fill: rgba( $BASE, .3 )
					}
				}
			}
			.label {
				height: 100%;
				line-height: 4.8rem;
				padding: 0 1.6rem;
				a {
					height: 4.8rem;
					color: rgba( $BASE, .3 )
				}
			}
		}
	}
}