@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

@font-face {
	font-family: 'Jaapokki Substract';
	src: url('./fonts/Japooki-subsctract/jaapokkisubtract-regular.eot');
	src: url('./fonts/Japooki-subsctract/jaapokkisubtract-regular.eot?#iefix') format('embedded-opentype');
	src: url('./fonts/Japooki-subsctract/jaapokkisubtract-regular.woff') format('woff');
	src: url('./fonts/Japooki-subsctract/jaapokkisubtract-regular.ttf') format('truetype')
	// url('./fonts/ProximaNova-Reg-webfont/ProximaNova-Reg-webfont.svg#proxi') format('svg');
}