// FONT TYPES

$ROBOTO: 'Roboto Condensed', Helvetica, Arial, sans-serif;
$JAAPOKKI: 'Jaapokki Substract', sans-serif;

// COLORS

$PRIMARY: #DB162F;
$SECONDARY: #7692FF;
$ERROR: #FF220C;
$SUCCESS: #B6C649;
$BACKGROUND: #1B2021;
$BASE: #FFFFFF;

// SHADOWS

$SH_LARGE: 0px 0px 32px 0px rgba(0,0,0,0.3);
$SH_MEDIUM_STRONG: 0px 0px 12px 0px rgba(0,0,0,0.6);
$SH_MEDIUM: 0px 0px 12px 0px rgba(0,0,0,0.3);
$SH_SMALL: 0px 0px 4px 0px rgba(0,0,0,0.6);

// GLOWS

$GLOW_MED_PRIMARY: 0px 0px 12px 0px rgba( $PRIMARY ,0.3);
$GLOW_SM_DIM: 0px 0px 8px 0px rgba( $BASE ,0.1);


// Z-INDEXES

$LAYER_1: 0;
$LAYER_2: 10;
$LAYER_3: 20;
$LAYER_4: 30;
$LAYER_5: 40;
$LAYER_6: 50;

// STATICS

$SIDEBAR_WIDTH: 280px;
$SIDEBAR_SMALL_WIDTH: 200px;
$TOP_NAV_HEIGHT: 80px;
$SIDEBAR_SPACING_LEFT: 328px;
$SIDEBAR_SMALL_SPACING_LEFT: 248px;



