.new-character {
	position: relative;
	width: 100%;
	&--name,
	&--background,
	&--race {
		header {
			padding-bottom: 4.8rem;
			.title {
				padding-bottom: 2.4rem;
			}
			.instructions {
				padding-bottom: .8rem;
				text-align: justify;
			}
		}
	}
	&--name {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 40%;
		min-width: 320px;
		padding: 3.2rem 1.6rem;
		background: $BACKGROUND;
		box-shadow: $SH_MEDIUM;
		box-sizing: border-box;
		transform: translate( -50%, -50% );
		overflow: hidden;
		&:after {
			content: '';
			position: absolute;
			top: -20%;
			left: -5%;
			height: 50%;
			width: 120%;
			background-color: rgba( $BASE, .3 );
			z-index: $LAYER_2;
			transform: rotate(-6deg);
		}
		p {
			position: relative;
			padding: 0 1.6rem 6.4rem;
			text-align: center;
			box-sizing: border-box;
			font-weight: 600;
			z-index: $LAYER_3;
		}
		.input {
			margin-bottom: 1.6rem;
		}
		button {
			margin: 8rem auto 0;
		}
	}
	&--background {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.tile {
			position: relative;
			width: 24%;
			height: auto;
			max-height: 88px;
			padding: 1.6rem;
			box-sizing: border-box;
			margin-bottom: 2.4rem;
			background-color: rgba( $BACKGROUND, .7 );
			box-shadow: $SH_MEDIUM;
			cursor: pointer;
			overflow: hidden;
			transition: all .2s ease-in-out;

			@media screen and (max-width: 1600px) {
				width: 30%
			}

			@media screen and (max-width: 1280px) {
				width: 45%
			}

			@media screen and (max-width: 800px) {
				width: 100%
			}

			&:after {
				content: '';
				position: absolute;
				top: -150px;
				left: -25%;
				height: 200px;
				width: 150%;
				background-color: rgba( $BASE, .3 );
				z-index: $LAYER_2;
				transform: rotate(-6deg);
				transition: inherit;
			}
			h3 {
				position: relative;
				padding-bottom: 3.2rem;
				z-index: $LAYER_3;
				width: 100%;
				box-sizing: border-box;
				padding-right: 2.4rem;
			}
			.traits {
				position: relative;
				width: 100%;
				z-index: $LAYER_3;
				.trait {
					padding: .8rem 0;
					width: 100%;
					.name {
						padding-bottom: .8rem;
					}
					.text {
						text-align: justify;
						font-weight: 300;
					}
				}
			}
			button {
				margin: 2.4rem auto 1.6rem;
				background: rgba( $BASE, .3 );
				z-index: $LAYER_4;
				&:hover {
					background: $PRIMARY;
				}
			}
			&:hover,
				&.active {
					box-shadow: $GLOW_MED_PRIMARY;
					&:after {
						background-color: $PRIMARY;
						top: -100px;
					}
				}
			&.active {
				cursor: initial;
				max-height: 600px;
				transition: all .3s ease-in-out;
				overflow-y: scroll;
				&::-webkit-scrollbar {
					width: .4rem;
				}

				&::-webkit-scrollbar-track {
					background: none;
				}

				&::-webkit-scrollbar-thumb {
					width: .2rem;
					border-radius: 10px;
					background: rgba( $BASE, .3 );
				}
			}
		}
	}
	&--race {
		.cards {
			display: flex;
			width: 100%;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-around;
			overflow: hidden;
			.race-card {
				position: relative;
				top: 0;
				width: 277px;
				height: 400px;
				background-color: $BACKGROUND;
				margin: 0 .8rem 2.4rem;
				transform: scale(.98);
				cursor: pointer;
				box-shadow: $GLOW_SM_DIM;
				transition: all .3s ease-out;
				h3 {
				 	width: 100%;
					text-align: center;
					transition: inherit;
				}
				svg {
					position: absolute;
					display: block;
					width: 100%;
					height: auto;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					& > g > path {
						fill: rgba( $BASE, .3 );
						transition: all .3s ease-out;
					}
				}
				.symbol {
					svg {
						position: relative;
						top: 0;
						left: 0;
						padding: 2.4rem 0 .8rem;
						transform: translate( 0, 0 ) scale( .8 );
					}
				}
				&:hover {
					//transform: scale(1);
					box-shadow: $SH_LARGE;
					h3 {
						color: $PRIMARY;
					}
					svg > g > path {
						fill: $PRIMARY;
					}
					.symbol {
						svg > g > path {
							fill: $PRIMARY;
							box-shadow: $SH_MEDIUM_STRONG;
						}
					}
				}
				&.active {
					position: absolute;
					top: 15.2rem;
					left: 0;
					z-index: $LAYER_6;
					box-shadow: $SH_LARGE;
					transform: scale(1);
					pointer-events: none;

					@media screen and (max-width: 1440px) {
						top: 0;
					}
					h3 {
						color: $PRIMARY;
					}
					svg > g > path {
						fill: $PRIMARY;
					}
				}
			}
		}
		.details {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100vh;
			padding-top: 280px;
			background: $BACKGROUND;
			opacity: 0;
			pointer-events: none;
			z-index: $LAYER_1;
			box-sizing: border-box;
			transform: translateY( 150px );
			transition: all .3s ease-in;
			overflow: auto;

			@media screen and (max-width: 1280px) {
				padding-top: 16rem;
			}

			&::-webkit-scrollbar {
				width: .4rem;
			}

			&::-webkit-scrollbar-track {
				background: none;
			}

			&::-webkit-scrollbar-thumb {
				width: .2rem;
				border-radius: 10px;
				background: rgba( $BASE, .3 );
			}
			.description {
				font-size: 2.2rem;
				font-weight: 400;
				line-height: 3rem;
				text-align: justify;
				opacity: 0;
				padding: 0 4.8rem 0 640px;

				@media screen and ( max-width: 1440px ) {
					padding-left: 580px;
				}

			}
			.base-info {
				width: 100%;
				.stripe {
					display: flex;
					flex-wrap: wrap;
					width: 100%;
					margin: 3.2rem 0;
					padding: 0 4.8rem 0 640px;
					text-align: center;
					pointer-events: none;
					justify-content: flex-start;
					border-top: 1px solid rgba( $BASE, .3 );
					border-bottom: 1px solid rgba( $BASE, .3 );
					box-sizing: border-box;

					@media screen and ( max-width: 1440px ) {
						padding-left: 580px;
					}

					&:first-of-type {
						margin-bottom: 0;
					}
					&:nth-of-type(2) {
						margin-top: .8rem;

					}
					.size,
					.speed,
					.abilities {
						height: 5.6rem;
						margin-left: 2.4rem;
						.label {
							position: absolute;
							top: 1.6rem;
							left: -4rem;
							height: 2.4rem;
							width: 5.6rem;
							font-weight: 600;
							background: rgba( $BASE, .3 );
							transform: rotate(-90deg);
						}
						.value {
							height: 5.6rem;
							font-size: 5.6rem;
							line-height: 6.8rem;
							border-right: 1px solid rgba( $BASE, .3 );
						}
					}
					.size,
					.speed {
						position: relative;
						width: 9.6rem;
					}
					.abilities {
						width: 16rem;
						display: flex;
						justify-content: space-between;
						.stat-box {
							position: relative;
							width: 44%;
							.value {
								border-right: none;
							}
							&:last-of-type {
								.value {
									border-right: 1px solid rgba( $BASE, .3 );
								}
							}
						}
					}
				}
				.subraces {
					padding: 0 4.8rem 3.2rem 640px;
					display: flex;
					justify-content: space-around;
					align-items: center;

					@media screen and ( max-width: 1440px ) {
						padding-left: 580px;
					}

					.choice {
						background: $BACKGROUND;
						cursor: pointer;
						padding: 1.2rem 1.6rem .8rem;
						border: .1rem solid $PRIMARY;
						transition: all .2s ease-in;
						&:hover {
							background: $PRIMARY;
							color: $BACKGROUND;
						}
						&.active {
							background: $PRIMARY;
							color: $BACKGROUND;
						}
					}
				}
				.proficiency {
					display: flex;
					padding: 0 4.8rem 4.8rem 640px;
					text-align: center;

					@media screen and ( max-width: 1440px ) {
						padding-left: 580px;
					}

					&--element {
						position: relative;
						display: block;
						width: 150px;
						margin-left: 1.6rem;
						padding: .2rem .4rem 0;
						background: $PRIMARY;
						&:after {
							content: 'Proficiency';
							position: absolute;
							top: 100%;
							left: 0;
							width: 100%;
							font-size: 1rem;
							font-weight: 600;
							color: $PRIMARY;
							font-family: $ROBOTO;
							margin-left: -.2rem;
							text-align: right;
						}
					}
				}
				.traits {
					display: flex;
					flex-wrap: wrap;
					padding: 0 4.8rem 0 640px;

					@media screen and ( max-width: 1440px ) {
						padding-left: 580px;
					}

					.trait {
						width: 23%;
						margin: 0 1% 2.4rem;
						height: 240px;
						padding: 1.6rem;
						box-sizing: border-box;
						box-shadow: $SH_MEDIUM;
						overflow-y: scroll;
						&::-webkit-scrollbar {
							width: .4rem;
						}

						&::-webkit-scrollbar-track {
							background: none;
						}

						&::-webkit-scrollbar-thumb {
							width: .2rem;
							border-radius: 10px;
							background: rgba( $BASE, .3 );
						}
						@media screen and ( max-width: 1660px ) {
							width: 31%;
						}

						@media screen and ( max-width: 1280px ) {
							width: 48%;
						}

						.name {
							padding-bottom: 2.4rem;
							transition: all .3s ease-in;
						}
						&:hover {
							.name {
								color: $PRIMARY;
							}
						}
					}
				}
			}
			&.active {
				opacity: 1;
				transform: translateY( 0 );
				pointer-events: all;
				.description {
					opacity: 1;
				}
			}
			.close-wrapper {
				position: absolute;
				top: 200px;
				margin-left: -8rem;

				@media screen and ( max-width: 1440px ) {
					top: 10.4rem;
				}

				.close {
					&.active {
						background: $PRIMARY;
						transform: rotate(-45deg);
						&:after {
							transform: rotate(90deg);
						}
					}
				}
				&:hover {
					.close {
						transform: rotate(45deg);
						&:after {
							transform: rotate(270deg);
						}
					}
				}
			}
			button {
				position: fixed;
				display: block;
				top: 72%;
				left: 352px;
				background: rgba( $BASE, .3 );
				pointer-events: all;

				@media screen and ( max-width: 1440px ) {
					top: 84%;
					left: 276px;
				}
				&:hover {
					background: $PRIMARY
				}
			}
		}
	}
	.close-wrapper {
		position: absolute;
		top: .8rem;
		left: 100%;
		height: 2.8rem;
		width: 2.8rem;
		margin-left: -4rem;
		cursor: pointer;
		z-index: $LAYER_4;
		.close {
			position: relative;
			height: 1px;
			width: 100%;
			margin-top: 1.39rem;
			background: none;
			transform: rotate(0deg);
			transition: .3s all ease-in-out;
			&:after {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: inherit;
				transform: rotate(0deg);
				transition: inherit;
			}
			&.active {
				background: $BACKGROUND;
				transform: rotate(-45deg);
				&:after {
					transform: rotate(90deg);
				}
			}
		}
	}
}