#login {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 450px;
	padding: 4rem 4rem 4.8rem;
	transform: translate(-50%, -50%);
	background-color: $BACKGROUND;
	box-shadow: $SH_LARGE;
	box-sizing: border-box;
	header {
		width: 100%;
		.logo {
			width: 180px;
			margin: auto;
			display: block;
			img {
				width: 100%;
				height: auto
			}
		}
		.title {
			width: 100%;
			padding: 2.4rem 4rem 4rem;
		}
	}
	.alert {
		color: $ERROR;
		padding: 0 1.6rem 1.6rem;
	}
	form {
		width: 100%;
		display: block;
		.input-email input,
		.input-password input,
		label,
		button {
			color: $BASE;
			text-align: center;
			text-transform: lowercase;
			background: none;
			border: none;
			outline: none;
		}
		.input-email,
		.input-password {
			position: relative;
			height: 6rem;
			width: 240px;
			margin: auto;
			display: flex;
			align-content: center;
			label {
				position: absolute;
				width: 100%;
				padding-top: 2.4rem;
				text-align: center;
				font-size: 1.8rem;
				pointer-events: none;
			}
			input {
				width: 100%;
				font-size: 1.8rem;
				font-family: $ROBOTO;
				font-weight: 300;
				transition: all .5s ease-in-out;
				&::placeholder {
					color: rgba($BASE, .1);
				}
				& + label {
					transition: all .5s ease-in-out;
				}
				&:focus + label {
					font-size: 1.2rem;
					width: 6rem;
					height: 1.4rem;
					padding-top: .1rem;
					transform: rotate(-90deg) translate(-2.4rem, -3.2rem);
					z-index: $LAYER_2;
				}
			}
			&:after {
				content: "";
				position: absolute;
				top: 100%;
				left: 0;
				height: .1rem;
				width: 100%;
				background-color: rgba($BASE, .1);
				z-index: $LAYER_2;
				transition: all .5s ease-in-out;
			}
			&--active {
				&:after {
					top: 0;
					width: 6rem;
					height: 1.4rem;
					transform: rotate(-90deg) translate(-2.4rem, -3.2rem);
					background-color: $PRIMARY;
					z-index: $LAYER_1;
				}
			}
		}
		button {
			position: relative;
			height: 6rem;
			width: 240px;
			margin: 6.4rem auto 0;
			font-weight: 800;
			font-size: 2rem;
			display: block;
			background-color: $PRIMARY;
			&:hover {

			}
		}
	}
}