.landing {
	width: 100%;
	height: calc( 100vh - 80px );
	article {
		position: relative;
		width: 100%;
		min-height: calc( 100vh - 80px );
		display: flex;
		padding: 4.8rem 8rem;
		padding-left: $SIDEBAR_SPACING_LEFT;
		background: url('./images/back_logo.png');
		background-size: auto 75vh;
		background-position: center 4.8rem;
		background-repeat: no-repeat;
		box-sizing: border-box;

		@media screen and ( max-width: 1440px ) {
			padding: 4.8rem 4.8rem 4.8rem $SIDEBAR_SMALL_SPACING_LEFT;
		}
	}
}